@model CreateCompanyCommand
@{
    ViewData["Title"] = "CreateCompany";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid px-4">
	<br />
	<h2>Yeni Firma Ekleme Sayfası</h2>
	<br />
	<form method="post">
		<label>Resim</label>
		<input type="text" asp-for="ImageUrl" class="form-control" />
		<br />
		<button class="btn btn-primary">Kaydet</button>
	</form>
</div>

