@model List<GetCompanyQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid px-4">
	<br />
	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Resim</th>
			<th>İşlemler</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.CompanyId</th>
				<td><img src="@item.ImageUrl" style="height:50px;width:130px" /></td>
				<td>
					<a href="/AdminCompany/DeleteCompany/@item.CompanyId" class="btn mb-1 btn-rounded btn-warning">Sil</a>
				</td>
			</tr>
		}
	</table>
	<a href="/AdminCompany/CreateCompany" class="btn mb-1 btn-rounded btn-primary">Yeni Firma Ekle</a>
</div>


