
<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Core</div>
				<a class="nav-link" href="/Destination/Index/">
					<div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
					Turlar
				</a>
				<a class="nav-link" href="/Service/Index/">
					<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
					Hizmetler
				</a>
				<a class="nav-link" href="/AdminFeature/Index/">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Hakkımızda
				</a>
				<a class="nav-link" href="/AdminTestimonial/Index/">
					<div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></div>
					Referanslar
				</a>
				<a class="nav-link" href="/AdminSubscribe/Index/">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Aboneler
				</a>
				<a class="nav-link" href="/AdminCompany/Index/">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-barcode"></i></div>
					Firmalar
				</a>
				<a class="nav-link" href="tables.html">
					<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
					Adımlar
				</a>
			</div>
			<div class="sb-sidenav-footer">

			</div>
	</nav>
</div>
