@model UpdateDestinationCommand
@{
    ViewData["Title"] = "UpdateDestination";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid px-4">
	<br />
	<h2>Tur Günceleme Sayfası</h2>
	<br />
	<form method="post">
		<input type="hidden" asp-for="DestinationId" />
		<label>Şehir</label>
		<input type="text" asp-for="City" class="form-control" />
		<br />
		<label>Resim </label>
		<input type="text" asp-for="Image" class="form-control" />
		<br />
		<label>Fiyat</label>
		<input type="text" asp-for="Price" class="form-control" />
		<br />
		<label>Tur Süresi</label>
		<input type="text" asp-for="Duration" class="form-control" />
		<br />
		<button class="btn btn-primary">Güncelle</button>
	</form>

</div>